{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Index</h1>

     <ul>
        <li>
            <a href="{{ path('city_index') }}">City</a>
        </li>
        <li>
            <a href="{{ path('faction_index') }}">Faction</a>
        </li>
        <li>
            <a href="{{ path('game_index') }}">Game</a>
        </li>
        <li>
            <a href="{{ path('gameobject_index') }}">Gameobject</a>
        </li>
        <li>
            <a href="{{ path('gameobjectcategory_index') }}">Gameobjectcategory</a>
        </li>
        <li>
            <a href="{{ path('gameobjectscore_index') }}">Gameobjectscore</a>
        </li>
        <li>
            <a href="{{ path('gameobjecttime_index') }}">Gameobjecttime</a>
        </li>
        <li>
            <a href="{{ path('gameobjectvalue_index') }}">Gameobjectvalue</a>
        </li>
        <li>
            <a href="{{ path('map_index') }}">Map</a>
        </li>
        <li>
            <a href="{{ path('parcel_index') }}">Parcel</a>
        </li>
        <li>
            <a href="{{ path('player_index') }}">Player</a>
        </li>
        <li>
            <a href="{{ path('server_index') }}">Server</a>
        </li>
        <li>
            <a href="{{ path('zone_index') }}">Zone</a>
        </li>
    </ul>
{% endblock %}