{% extends 'base.html.twig' %}

{% block body %}
    <h1>Index</h1>

     <ul>
        <li>
            <a href="{{ path('gameobject_index') }}">Gameobject</a>
        </li>
        <li>
            <a href="{{ path('gameobjectcategory_index') }}">Gameobjectcategory</a>
        </li>
        <li>
            <a href="{{ path('gameobjectscore_index') }}">Gameobjectscore</a>
        </li>
        <li>
            <a href="{{ path('gameobjecttime_index') }}">Gameobjecttime</a>
        </li>
        <li>
            <a href="{{ path('gameobjectvalue_index') }}">Gameobjectvalue</a>
        </li>
    </ul>
{% endblock %}