{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Map</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ map.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('map_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('map_edit', { 'id': map.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
