{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gameobject</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gameObject.id }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{% if gameObject.actions %}{{ gameObject.actions|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Behaviour</th>
                <td>{% if gameObject.behaviours %}{{ gameObject.behaviours|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Levelmax</th>
                <td>{{ gameObject.levelMax }}</td>
            </tr>
            <tr>
                <th>Offset</th>
                <td>{{ gameObject.offset }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gameObject.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gameObject.description }}</td>
            </tr>
            <tr>
                <th>IconFilename</th>
                <td>{{ gameObject.iconFilename }}</td>
            </tr>
            <tr>
                <th>ImageFilename</th>
                <td>{{ gameObject.imageFilename }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gameobject_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gameobject_edit', { 'id': gameObject.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
