{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Zone</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone.id }}</td>
            </tr>
            <tr>
                <th>Terrain</th>
                <td>{{ zone.terrain }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ zone.map ? zone.map.id : '' }}</td>
            </tr>
            <tr>
                <th>Parcels</th>
                <td>
                    <ul>
                        {% for parcel in zone.parcels %}
                            {{ parcel.id }}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zone_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('zone_edit', { 'id': zone.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
