{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Parcel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcel.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ parcel.city }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ parcel.zone ? parcel.zone.id : '' }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parcel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parcel_edit', { 'id': parcel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
