{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Offset</th>
                <td>{{ category.offset }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ category.iconFilename }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.imageFilename }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
