{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maps list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td><a href="{{ path('map_show', { 'id': map.id }) }}">{{ map.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('map_show', { 'id': map.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('map_edit', { 'id': map.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('map_new') }}">Create a new map</a>
        </li>
    </ul>
{% endblock %}
