{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Gameobjectvalues list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Multiplicator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gameObjectValue in gameObjectValues %}
            <tr>
                <td><a href="{{ path('gameobjectvalue_show', { 'id': gameObjectValue.id }) }}">{{ gameObjectValue.id }}</a></td>
                <td>
                    {% if gameObjectValue.gameObjectGroups %}
                        {% for gameObjectGroup in gameObjectValue.gameObjectGroups %}
                            {{ gameObjectGroup.id }}<br/>
                            {% if gameObjectGroup.gameObject %}
                                <a href="{{ path('gameobject_index', { 'id': gameObjectGroup.gameObject.id }) }}">{{ gameObjectGroup.gameObject.id }}</a><br/>
                                {{ gameObjectGroup.gameObject.name }}<br/>
                            {% endif %}
                            {{ gameObjectGroup.level }}<br/>
                            {{ gameObjectGroup.count }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ gameObjectValue.multiplicator }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gameobjectvalue_show', { 'id': gameObjectValue.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
