{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Gameobjectvalue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gameObjectValue.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>
                    {% if gameObjectValue.gameObjectGroups %}
                        {% for gameObjectGroup in gameObjectValue.gameObjectGroups %}
                            {{ gameObjectGroup.id }}<br/>
                            {% if gameObjectGroup.gameObject %}
                                <a href="{{ path('gameobject_index', { 'id': gameObjectGroup.gameObject.id }) }}">{{ gameObjectGroup.gameObject.id }}</a><br/>
                                {{ gameObjectGroup.gameObject.name }}<br/>
                            {% endif %}
                            {{ gameObjectGroup.level }}<br/>
                            {{ gameObjectGroup.count }}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Multiplicator</th>
                <td>{{ gameObjectValue.multiplicator }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gameobjectvalue_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
