{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Server</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ server.id }}</td>
            </tr>
            <tr>
                <th>Maxplayer</th>
                <td>{{ server.maxPlayer }}</td>
            </tr>
            <tr>
                <th>Player</th>
                <td>{{ server.player }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ server.map }}</td>
            </tr>
            <tr>
                <th>Offset</th>
                <td>{{ server.offset }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ server.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ server.description }}</td>
            </tr>
            <tr>
                <th>Iconfilename</th>
                <td>{{ server.iconFilename }}</td>
            </tr>
            <tr>
                <th>Imagefilename</th>
                <td>{{ server.imageFilename }}</td>
            </tr>
             <tr>
                <th>Game</th>
                <td>{{ server.game.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('server_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('server_edit', { 'id': server.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
