{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Gameobjectcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Offset</th>
                <th>Name</th>
                <th>Description</th>
                <th>IconFilename</th>
                <th>ImageFilename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gameObjectCategory in gameObjectCategories %}
            <tr>
                <td><a href="{{ path('gameobjectcategory_show', { 'id': gameObjectCategory.id }) }}">{{ gameObjectCategory.id }}</a></td>
                <td>{{ gameObjectCategory.offset }}</td>
                <td>{{ gameObjectCategory.name }}</td>
                <td>{{ gameObjectCategory.description }}</td>
                <td>{{ gameObjectCategory.iconFilename }}</td>
                <td>{{ gameObjectCategory.imageFilename }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gameobjectcategory_show', { 'id': gameObjectCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gameobjectcategory_edit', { 'id': gameObjectCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gameobjectcategory_new') }}">Create a new gameObjectCategory</a>
        </li>
    </ul>
{% endblock %}
