{% extends '@AdminAdmin/base.html.twig' %}

{% block body %}
    <h1>Factions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Offset</th>
                <th>Name</th>
                <th>Description</th>
                <th>Iconfilename</th>
                <th>Imagefilename</th>
                <th>GameObjects</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faction in factions %}
            <tr>
                <td><a href="{{ path('faction_show', { 'id': faction.id }) }}">{{ faction.id }}</a></td>
                <td>{{ faction.offset }}</td>
                <td>{{ faction.name }}</td>
                <td>{{ faction.description }}</td>
                <td>{{ faction.iconFilename }}</td>
                <td>{{ faction.imageFilename }}</td>
                <td>
                    <ul>
                        {% for gameObject in faction.gameObjects %}
                            <li>{{ gameObject.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('faction_show', { 'id': faction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('faction_edit', { 'id': faction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faction_new') }}">Create a new faction</a>
        </li>
    </ul>
{% endblock %}
